*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}



/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87ceeb;
    position: sticky;
    top: 0;

}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;

}
.navbar ul li{
    font-family: century;
    font-size: 1.1res;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
    
}
.navbar ul li a:hover{
    background-color: #87ceeb;
    color: black;
    box-shadow: 0 0 10px black;
}
#home{
    display: flex;
    flex-direction: column;
    background-image: url(coding1.jpg);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;

}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    visibility: visible;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /*border: 1px solid white; */
    align-items: center;
    color: #87ceeb;
    position: absolute;
    top: 30%;
    right: 10%;
    box-shadow: 0, 0, 10px #87ceeb;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #87ceeb;
        text-shadow: none;

    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #87ceeb,
        0 0 20px #87ceeb,
        0 0 40px #87ceeb,
        0 0 80px #87ceeb,
        0 0 160px #87ceeb;
    }
}

.headings{
    font-family: monospace;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    color: #87ceeb;
    outline: none;
    transition: .6s ease;

}
.btn:hover{
    cursor: pointer;
    background-color: turquoise;
    color: black;
    box-shadow: 0 0 5px turquoise, 0 0 10px turquoise, 0 0 15px turquoise;
    font-weight: bold;

}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;

}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;

}
/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    padding: 20px;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    color: black;
}
.row{
    display: flex;

}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 20px 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    background-size: 100% 200%;
    transition: all 0.5s;

}
.box:hover{
    transform: translate(-20);

}

#services box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffbc00, #ff00);
}
#services box::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, darkblue, skyblue);
    filter: blur(30px);
}
.box img{
    width: 80px;
    height: 80px;
    padding: 10px;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: black;
    padding: 20px;
}
#contact a{
    display: flex;
    font-size: large;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    align-items: center;


}

#video{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    padding: 20px;
    
    
}