*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(23, 50, 10, 0)50%,rgba(23, 50, 10, 0)50%), url(Images&videos/pencil.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;
}
.ABOUT ME{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    text-align: justify;
    font-family: Verdana;
    margin: 0px auto;
    width: 80%;
    height: 100vh;
    
    
} 
.navbar{
    width: 1100px;
    height: 100px;
    margin: 20px 0;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #69A641;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    display: flex;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: #3d3d3d;
}